# Virtual environment
xaienv/

# System files
.DS_Store

# Large model files (if any)
models/*.pkl
models/rf_baseline.pkl

# XAI Thesis specific exclusions
"XAIThesis /.idea/"
"XAIThesis /Project/.XAIenv/"
"XAIThesis /Project/db.sqlite3"
*/.DS_Store
__pycache__/
*.pyc
*.pyo
